<div ng-controller="groupCtrl">
    <ion-header-bar class="hzp-header">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back light"></i>
        </button>
        <h1 class="title light">组团K歌</h1>
        <button class="button button-clear" ng-click="goState('publish')">
            <span class="light">发布</span>
        </button>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-text-wrap hzp-item">
                <div class="row hzp-group-box1">
                    <div class="col-20">
                        <img src="img/hzp-img1-2.fw.png" class="hzp-tx" alt="">
                    </div>
                    <div class="col-60">
                        <h2 class="hzp-nickname">落月摇情、</h2>
                        <p class="hzp-time">6分钟前</p>
                    </div>
                    <div>
                        <button class="button button-small hzp-applybtn" ng-click="goState('group_detail')">
                            <i class="icon ion-ios-personadd-outline"></i>
                            &nbsp;报名
                        </button>
                    </div>
                </div>
                <p class="hzp-conTxt">
                    晚上7点，酒吧一条街麦嘎KTV808房间，有神秘惊喜，不见不散！我的微信号：wechat0000。
                </p>
                <div class="hzp-showImg">
                    <img src="img/hzp-img1-1.fw.png" alt="">
                    <img src="img/hzp-img1-3.fw.png" alt="">
                    <img src="img/hzp-img1-4.fw.png" alt="">
                </div>
                <div class="hzp-applyer">
                    <span>已报名5人</span>
                    <img src="img/hzp-img1-5.fw.png" alt="">
                    <img src="img/hzp-img1-6.fw.png" alt="">
                    <img src="img/hzp-img1-7.fw.png" alt="">
                    <img src="img/hzp-img1-8.fw.png" alt="">
                    <img src="img/hzp-img1-9.fw.png" alt="">
                </div>
            </ion-item>
            <ion-item class="item-text-wrap hzp-item">
                <div class="row hzp-group-box1">
                    <div class="col-20">
                        <img src="img/hzp-img1-10.fw.png" class="hzp-tx" alt="">
                    </div>
                    <div class="col-60">
                        <h2 class="hzp-nickname">周千千</h2>
                        <p class="hzp-time">8分钟前</p>
                    </div>
                    <div>
                        <button class="button button-small hzp-applybtn" ng-click="goState('group_detail')">
                            <i class="icon ion-ios-personadd-outline"></i>
                            &nbsp;报名
                        </button>
                    </div>
                </div>
                <p class="hzp-conTxt">
                    今天朋友生日，大家晚上9点快点来农业路麦克风KTV666房间一块嗨！
                </p>
                <div class="hzp-showImg">
                    <img src="img/hzp-img1-11.fw.png" alt="">
                    <img src="img/hzp-img1-12.fw.png" alt="">
                    <img src="img/hzp-img1-13.fw.png" alt="">
                </div>
                <div class="hzp-applyer">
                    <span>已报名7人</span>
                    <img src="img/hzp-img1-14.fw.png" alt="">
                    <img src="img/hzp-img1-15.fw.png" alt="">
                    <img src="img/hzp-img1-16.fw.png" alt="">
                    <img src="img/hzp-img1-17.fw.png" alt="">
                    <img src="img/hzp-img1-18.fw.png" alt="">
                    <i class="icon ion-more"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</div>
