<div class="manager">
<div class="bar bar-header lyj-top">
	 <i class="button icon-left button-clear button-light button-small ion-ios-arrow-back" ng-click="back()"></i>
	 <h1 class="title">经营管理</h1>
</div>
<div class="content has-header scroll scroll-content" style="overflow-y: scroll;">
	<div class="list card">
		<a href="#" class="item item-avatar">
			<img src="img/lyj-manager.png" alt=""/>管理公司
			<button class="button button-clear button-clebutton-right button-stable">更多</button>
		</a>
	<div class="row">
	<div class="col text-center">
		<img src="img/lyj-Strategy.png" alt="" class="img"/>
		<p>津博策略</p>
	</div>
	<div class="col text-center" ng-click="goState('company')">
		<img src="img/lyj-zongying.png" alt="" class="img"/>
		<p>众盈管理</p>
	</div>
	<div class="col text-center">
		<img src="img/lyj-ruisi.png" alt="" class="img"/>
		<p>锐思卓创</p>
	</div>
	<div class="col text-center">
		<img src="img/lyj-stock.png" alt="" class="img"/>
		<p>元大股权</p>
	</div>
	</div>
	<div class="row">
	<div class="col text-center">
		<img src="img/lyj-Strategy.png" alt="" class="img"/>
		<p>津博策略</p>
	</div>
	<div class="col text-center">
		<img src="img/lyj-zongying.png" alt="" class="img"/>
		<p>众盈管理</p>
	</div>
	<div class="col text-center">
		<img src="img/lyj-ruisi.png" alt="" class="img"/>
		<p>锐思卓创</p>
	</div>
	<div class="col text-center">
		<img src="img/lyj-stock.png" alt="" class="img"/>
		<p>元大股权</p>
	</div>
	</div>
	<div class="row">
	<div class="col text-center">
		<img src="img/lyj-Strategy.png" alt="" class="img"/>
		<p>津博策略</p>
	</div>
	<div class="col text-center">
		<img src="img/lyj-zongying.png" alt="" class="img"/>
		<p>众盈管理</p>
	</div>
	<div class="col text-center">
		<img src="img/lyj-ruisi.png" alt="" class="img"/>
		<p>锐思卓创</p>
	</div>
	<div class="col text-center">
		<img src="img/lyj-stock.png" alt="" class="img"/>
		<p>元大股权</p>
	</div>
	</div>
	</div>
	<div class="list card item-body item-text-wrap">
		<a href="#" class="item item-avatar lyj-list">
			<img src="img/lyj-article.png" alt="" />管理文章
		</a>
		<a href="javscript:;" class="item" ng-click="goState('info')">这不是我的活儿，少推给我！<span>2016-02-28</span></a>
		<a class="item">服 “理” 不服 “管”<span>2016-02-28</span></a>
		<a class="item">董明珠用人出奇招<span>2016-02-28</span></a>
		<a class="item">没有一件了不起的事情，是你自己一个人完成的<span>2016-02-28</span></a>
	</div>
</div>
</div>
