<div class="info">
<div class="bar bar-header lyj-top">
	 <i class="button icon-left button-clear button-light button-small ion-ios-arrow-back" ng-click="goState('manager',null)"></i>
	 <h1 class="title">详情</h1>
	 <i class="button icon-right button-clear  button-small lyj-share"><img src="img/lyj-share.png" alt="" /></i>
</div>
<div class="content has-header scroll scroll-content" style="overflow-y: scroll;">
	 <p class="item ">这不是我的活儿，少推给我！<br>2015-08-13 08:05:00</p>
	 <div class="item item-body">
	 	      <p>要想唱一首歌曲，首先唱歌的人,要想唱一首歌曲，首先唱歌的人,要想唱一首歌曲，首先唱歌的人要想唱一首歌曲，首先唱歌的人要想唱一首歌曲，首先唱歌的人要想唱一首歌曲，首先唱歌的人</p>
	 	      <p>
	 	      	       本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,
	 	      </p>
	 	       <p>
	 	      	       本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,本期小编推荐南区地铁口潜力,
	 	      </p>
	 </div>
</div>	
</div>