<div class="company">
<div class="bar bar-header lyj-top">
	 <i class="button icon-left button-clear button-light button-small ion-ios-arrow-back" ng-click="back()"></i>
	 <h1 class="title">公司介绍</h1>
</div>
<div class="content has-header scroll scroll-content" style="overflow-y: scroll;">
	<ul class="list">
		<li class="item text-center"><strong>河南省众盈企业管理有限公司</strong></li>
		<li class="list item-text-wrap">
			<p>本公司主要业务包括酒店管理，KTV娱乐酒吧夜店管理。本公司主要业务包括酒店管理，KTV娱乐酒吧夜店管理。本公司主要业务包括酒店管理，KTV娱乐酒吧夜店管理。本公司主要业务包括酒店管理，KTV娱乐酒吧夜店管理。本公司主要业务包括酒店管理，KTV娱乐酒吧夜店管理。</p>
		</li>
		<li class="item">
			<img src="img/lyj-floor.png" alt="" class="full-image"/>
		</li>
		<li class="item">
			<p>电话：12838256789</p>
			<p>联系人：张先生</p>
			<p>地址：河南省郑州市郑东新区恒辉大厦1808</p>
		</li>
	</ul>	
</div>
</div>
