<ion-view  class="lyj-details-v">
	<ion-list>
		<ion-item class="item-avatar">
			<img src="img/lyj-cool.png"/>
			<h2>落月摇情、<span>2016-03-22</span></h2>
			<i><img src="img/lyj-star.png" alt="" class="lyj-star"/></i>
			
		</ion-item>
		<ion-item class="item-text-wrap">
			<p class="">抱着试试看的心态拍下宝贝，商家给发的邮政，一直以为邮政很慢，未想到速度喜人。收到宝贝，立马拆开很好。</p>
			<div class="row">
				<div class="col"><img src="img/lyj-Simg1.png" alt="" class="full-image"/></div>
				<div class="col"><img src="img/lyj-Simg2.png" alt="" class="full-image"/></div>
				<div class="col"><img src="img/lyj-Simg3.png" alt="" class="full-image"/></div>
			</div>
			<span>2015.07.29 11:26 颜色分类：基础礼盒</span>
		</ion-item>
		<ion-item class="item-avatar">
			<img src="img/lyj-cat.png"/>
			<h2>周千千的妈妈<span>2016-01-26</span></h2>
			<i><img src="img/lyj-star.png" alt="" class="lyj-star"/></i>	
		</ion-item>
		<ion-item class="item-text-wrap">
			<p class="">198的价格也很划算，还有果盘和小吃送，朋友都说这里很棒，就是人太多，但也没办法，谁让人家生意好呢。</p>
			<div class="row">
				<div class="col"><img src="img/lyj-Simg1.png" alt="" class="full-image"/></div>
				<div class="col"><img src="img/lyj-Simg2.png" alt="" class="full-image"/></div>
				<div class="col"><img src="img/lyj-Simg3.png" alt="" class="full-image"/></div>
			</div>
			<span>2015.07.29 11:26 颜色分类：基础礼盒</span>
		</ion-item>
	</ion-list>
</ion-view>