
<div ng-controller="newsCtrl">
    <ion-header-bar class="hzp-yl-header">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back light"></i>
        </button>
        <h1 class="title light">头条</h1>
        <button class="button button-clear" ng-click="goState('news_edit')">
            <span class="light">发布</span>
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap item-thumbnail-left hzp-news-item">
                <img src="img/hzp-img2-1.png" alt="">
                <h2>怎样在KTV里运用K歌技巧 <span>2015-08-14</span></h2>
                <p>要想唱一首歌曲，首先唱歌的人一定要做到声情并茂。</p>
                <p class="text-right">
                    <img src="img/hzp-img8-1.fw.png" alt="">
                    0
                    <img src="img/hzp-img8-2.fw.png" alt="">
                    2
                </p>
            </ion-item>
            <ion-item class="item-text-wrap item-thumbnail-left hzp-news-item">
                    <img src="img/hzp-img2-2.png" alt="">
                    <h2>怎样在KTV里运用K歌技巧 <span>2015-08-14</span></h2>
                    <p>要想唱一首歌曲，首先唱歌的人一定要做到声情并茂。</p>
                    <p class="text-right">
                        <img src="img/hzp-img8-1.fw.png" alt="">
                        0
                        <img src="img/hzp-img8-3.fw.png" alt="">
                        2
                    </p>
            </ion-item>
            <ion-item class="item-text-wrap item-thumbnail-left hzp-news-item" >
                <img src="img/hzp-img2-3.png" alt="">
                <h2>怎样在KTV里运用K歌技巧 <span>2015-08-14</span></h2>
                <p>要想唱一首歌曲，首先唱歌的人一定要做到声情并茂。</p>
                <p class="text-right">
                    <img src="img/hzp-img8-1.fw.png" alt="">
                    0
                    <img src="img/hzp-img8-3.fw.png" alt="">
                    2
                </p>
            </ion-item>
            <ion-item class="item-text-wrap item-thumbnail-left hzp-news-item">
                <img src="img/hzp-img2-4.png" alt="">
                <h2>怎样在KTV里运用K歌技巧 <span>2015-08-14</span></h2>
                <p>要想唱一首歌曲，首先唱歌的人一定要做到声情并茂。</p>
                <p class="text-right">
                    <img src="img/hzp-img8-1.fw.png" alt="">
                    0
                    <img src="img/hzp-img8-3.fw.png" alt="">
                    2
                </p>
            </ion-item>
            <ion-item class="item-text-wrap item-thumbnail-left hzp-news-item">
                <img src="img/hzp-img2-5.png" alt="">
                <h2>怎样在KTV里运用K歌技巧 <span>2015-08-14</span></h2>
                <p>要想唱一首歌曲，首先唱歌的人一定要做到声情并茂。</p>
                <p class="text-right">
                    <img src="img/hzp-img8-1.fw.png" alt="">
                    0
                    <img src="img/hzp-img8-3.fw.png" alt="">
                    2
                </p>
            </ion-item>
            <ion-item class="item-text-wrap item-thumbnail-left hzp-news-item">
                <img src="img/hzp-img2-6.png" alt="">
                <h2>怎样在KTV里运用K歌技巧 <span>2015-08-14</span></h2>
                <p>要想唱一首歌曲，首先唱歌的人一定要做到声情并茂。</p>
                <p class="text-right">
                    <img src="img/hzp-img8-1.fw.png" alt="">
                    0
                    <img src="img/hzp-img8-3.fw.png" alt="">
                    2
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</div>
