<ion-view  class="hzp-coupon-view">
    <div class="hzp-view1-container">
        <div class="hzp-view1">
            <img src="img/hzp-img5-1.fw.png" alt="">
            <div>
                <p class="hzp-no_used-title">满99减5</p>
                <p>使用范围：正大KTV设备公司</p>
                <p>截止日期：2016.05.01</p>
            </div>
            <img src="img/hzp-img5-2.fw.png" alt="" class="hzp-icon-no_used">
        </div>
        <div class="hzp-view1">
            <img src="img/hzp-img5-1.fw.png" alt="">
            <div>
                <p class="hzp-no_used-title">满99减5</p>
                <p>使用范围：正大KTV设备公司</p>
                <p>截止日期：2016.05.01</p>
            </div>
            <img src="img/hzp-img5-2.fw.png" alt="" class="hzp-icon-no_used">
        </div>
    </div>

</ion-view>