
<div ng-controller="publishCtrl">
    <ion-header-bar class="hzp-header">
        <button class="button button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back light"></i>
        </button>
        <h1 class="title light">发布</h1>
        <button class="button button-clear">
            <span class="light">发送</span>
        </button>
    </ion-header-bar>
    <ion-content class="hzp-content">
        <ion-list class="list-inset hzp-list-textarea">
            <ion-item class="item-input hzp-item-textarea">
                <textarea name="" id="" cols="30" rows="10"  placeholder="在哪？时间？房间号？联系方式？给大家分享一下吧！"></textarea>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/hzp-publish.fw.png" alt="">
                <h2 class="hzp-publish-h2">添加图片</h2>
                <p>最多三张</p>
            </ion-item>
        </ion-list>
    </ion-content>
</div>
