<ion-view>
	<div class="bar bar-header">
			<button class="button button-clear" ng-click="back()">
				<i class="icon ion-ios-arrow-back"></i>
			</button>
			<h1 class="title">落月摇情、</h1>
		</div>
		<div class="content has-header scroll-content syy-content">
			<div class="list">
				<h4 class="text-center">02-24 16:06</h4>
			</div>
			<div class="list">
				<div class="item item-thumbnail-right syy-chat">
					<img src="img/syy-img/user1.png" style="border-radius: 50%;"/>
					<span>?
						<div class="sj"></div>
					</span>
				</div>
				<div class="item item-thumbnail-left syy-chat">
					<img src="img/syy-img/user2.png" style="border-radius: 50%;"/>
					<span>您好！有什么能够帮您的？
						<div class="sj2"></div>
					</span>
				</div>
			</div>
		</div>
		<div class="bar bar-footer item-input-inset">
			<button class="button button-clear button-dark">
				<i class="icon ion-ios-plus-outline"></i>
			</button>
			<label class="syy-input-label item-input-wrapper">
				<input type="text" />
			</label>
			<button class="button button-royal">发送</button>
		</div>
</ion-view>