<ion-view ng-controller="message">
	<div class="bar bar-header">
			<h1 class="title">消息</h1>
		</div>
		<div class="content has-header scroll-content syy-content">
			<div class="list">
				<a href="#/syy_msgDetail" class="item item-thumbnail-left syy-msglist">
					<img src="img/syy-img/th1.png" alt="" />
					<h2>落月摇情、</h2><span class="item-note">2016-02-22</span>
					<p>您好，有什么可以帮助您的？</p>
				</a>
				<a href="#/syy_msgDetail" class="item item-thumbnail-left syy-msglist">
					<img src="img/syy-img/th2.png" alt="" />
					<h2>周大千</h2><span class="item-note">2016-02-21</span>
					<p>那个单子还不错，你也来看看吧</p>
				</a>
				<a href="#/syy_msgDetail" class="item item-thumbnail-left syy-msglist">
					<img src="img/syy-img/th3.png" alt="" />
					<h2>歌歌歌歌歌手</h2><span class="item-note">2016-02-20</span>
					<p>好的，我会尽快发货的</p>
				</a>
				<a href="#/syy_msgDetail" class="item item-thumbnail-left syy-msglist">
					<img src="img/syy-img/th4.png" alt="" />
					<h2>约K联系13535545678</h2><span class="item-note">2016-02-19</span>
					<p>好的！</p>
				</a>
				<a href="#/syy_msgDetail" class="item item-thumbnail-left syy-msglist">
					<img src="img/syy-img/th5.png" alt="" />
					<h2>管她有多美</h2><span class="item-note">2016-02-18</span>
					<p>您说的这两种都有，价格也是最低了</p>
				</a>
			</div>
		</div>
</ion-view>