<ion-view>
	<ion-content>
	<div class="normal-padding">
		<label class="item item-input item-icon-right syy-VO">
			<input type="text" placeholder="请输入序列号" />
			<i class="icon ion-ios-close-outline"></i>
		</label>
	</div>
	<div class="normal-padding">
				<div class="normal-padding syy-VO-con">
					<div class="syy-VO-flex">
						<button class="button button-light">1</button>
						<button class="button button-light">2</button>
						<button class="button button-light">3</button>
					</div>
				</div>
				<div class="normal-padding syy-VO-con">
					<div class="syy-VO-flex">
						<button class="button button-light">4</button>
						<button class="button button-light">5</button>
						<button class="button button-light">6</button>
					</div>
				</div>
				<div class="normal-padding syy-VO-con">
					<div class="syy-VO-flex">
						<button class="button button-light">7</button>
						<button class="button button-light">8</button>
						<button class="button button-light">9</button>
					</div>
				</div>
				<div class="normal-padding syy-VO-con">
					<div class="syy-VO-flex">
						<button class="button button-light">0</button>
						<button class="button button-royal syy-VO-btn" ng-click="goState('syy_result')">验证</button>
					</div>
				</div>
	</ion-content>
</ion-view>
