<ion-view>

<div class="bar bar-header">
			<button class="button button-clear" ng-click="back()">
				<i class="icon ion-ios-arrow-back"></i>
			</button>
			<h1 class="title">账户余额</h1>
		</div>
		<div class="content has-header scroll-content syy-content" id="container">
			<div class="list">
				<div class="item item-avatar item-icon-left item-icon-right syy-item">
					<img src="img/syy-img/gs.png" alt="" />
					<h2>中国工商银行</h2>
					<p>尾号7265储蓄卡</p>
					<a href="#/syy_select" class="icon ion-ios-arrow-right"></a>
					
				</div>
				<label class="item item-input syy-item">
					<span class="input-label">提现金额</span>
					<input type="text" placeholder="最多可提现888.00元"/>
				</label>
				<div class="normal-padding">
					<button class="button button-block button-royal syy-button">确认提现</button>
				</div>
				<div class="normal-padding">
					<h4>提现规则</h4>
					<p>1、重量限定：单件货物重量不得>25kg。</p>
			        <p>2、体积限定：单件货物体积不得>0.4m<sup>3</sup>。</p>
			        <p>3、配送距离：仅限当地市区范围。</p>
			        <p>4、计价规则：3公里范围内，每单12元；3-10公里之间，每公里加1元；超出10公里后，每公里加2元。特殊行业价格会有浮动（如：蛋糕、数码）。</p>
			        <p>5、禁止发布有关涉及各种弓、弩、金属刀、剑制品（包含工艺品）等管制刀具的任务信息。</p>
			        <p>6、不得包含易燃、易爆危险物品以及国家法令禁止、限制流通的物品。</p>
				</div>
			</div>
		</div>	
</ion-view>