
<div>
	<div class="bar bar-header">
		<button class="button button-clear" ng-click="back()">
			<i class="icon ion-ios-arrow-back"></i>
		</button>
		<h1 class="title">我的银行卡</h1>
	</div>
	<div class="content has-header scroll-content syy-content">
		<div class="list clearM">
			<div class="normal-padding">
				<div class="syy-myC">
					<div class="item item-avatar syy-myC-item">
						<img src="img/syy-img/js.png"/>
						<h2>光大银行</h2>
						<p>储蓄卡</p>
					</div>
					<div class="item syy-myC-item syy-myC-text">
						<h1>**** **** **** 2177</h1>
						<p>[默认]</p>
					</div>
				</div>
			</div>
		</div>
		<div class="list syy-myC-list">
			<div class="normal-padding">
				<div class="syy-myC">
					<div class="item item-avatar syy-myC-item">
						<img src="img/syy-img/gs2.png"/>
						<h2>工商银行</h2>
						<p>储蓄卡</p>
					</div>
					<div class="item syy-myC-item syy-myC-text">
						<h1>**** **** **** 4699</h1>
						<p>设为默认银行卡</p>
					</div>
				</div>
			</div>
	</div>
		<div class="normal-padding syy-myC-list">
			<button 
				class="button button-block syy-myC-btn"
				ng-click="goState('syy_addCard')"
				>添加银行卡</button>
		</div>
	</div>
</div>

