<style>
    body{
        background-color: #f8f8f8;
    }
</style>
<ion-tabs class="tabs-color-active-positive tabs-top">
    <ion-tab title="全部" href="#tabs1/home" style="border-bottom:1px solid red">
        <ion-view name="allOrderList"></ion-view>
    </ion-tab>

    <ion-tab title="待付款" href="#tabs1/produce">
        <ion-view name="waitPay"></ion-view>
    </ion-tab>
    <ion-tab title="待使用" href="#tabs1/person">
        <ion-view name="waitUse"></ion-view>
    </ion-tab>
    <ion-tab title="待评价" href="#tabs1/person">
        <ion-view name="waitComm"></ion-view>
    </ion-tab>
</ion-tabs>